Source: rdv
Section: science
Priority: optional
Maintainer: Jason P. Hanley <jason@paltasoftware.com>
Build-Depends: debhelper (>= 5), cdbs
Build-Depends-Indep: sun-java6-jdk, ant, libcommons-cli-java, 
 libcommons-logging-java, libjcommon-java, libjfreechart-java,
 libjgoodies-looks-java, librbnb-java, libtritonus-java
Standards-Version: 3.7.2

Package: rdv
Architecture: all
Depends: java-virtual-machine, java5-runtime | sun-java5-jre | sun-java6-jre,
 libcommons-cli-java, libcommons-logging-java, libjcommon-java,
 libjfreechart-java, libjlayer-java, libjgoodies-looks-java, libmp3spi-java,
 librbnb-java, libtritonus-java
Description: A data viewer for streaming scientific and engineering data.
 Live and archived data can be viewed seamlessly within RDV with built-in
 support for many data types and viewers to visualize data in different ways.